@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  transition: all 1s;
}

#page-container {
  display: flex;
  justify-content: center;
}

.resume {
  width: clamp(300px, 100%, 768px);
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  flex-wrap: wrap;
}

aside {
  flex-grow: 1;
  flex-shrink: 0.5;
  flex-basis: 200px;
  background-color: #003d73;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

aside :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
}

aside :is(h1, h2, h6) {
  background-color: #003d73;
  padding-right: 1rem;
}

aside :is(h3) {
  background-color: #00315c;
}

.right {
  text-align: right;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul > li::before {
  content: "•";
}

aside ul > li {
  color: white;
  padding-right: 0.5rem;
  font-style: italic;
  font-weight: 200;
  display: inline-block;
}

aside ul#programming > li {
  display: block;
  color: white;
  padding-top: 0.5rem;
  margin-right: 0.5rem;
}

aside ul#programming > li:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 16px -3px #ffffff;
}

.highlight:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 16px -3px #ffffff;
}

aside ul#programming > li > dt {
  display: block;
}

aside ul#programming > li > dd {
  display: inline-flex;
  padding: 0%;
  margin: 0 0 3px 3px;
  padding-right: 10px;
  border-right: solid 1px;
}

main {
  flex-grow: 4.5;
  flex-shrink: 2;
  flex-basis: 300px;
  padding: 1rem;
}

.structure {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.structure:hover,
.summary:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 16px -3px #002e58;
}

div.dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 0;
  align-content: center;
}

.details {
  flex-grow: 5;
  flex-shrink: 1;
  flex-basis: 280px;
  padding-left: 2rem;
}

main ul {
  padding: 0;
}

div.dates > span.start-date,
div.dates > span.end-date {
  flex-grow: 2;
  flex-shrink: 0.7;
  flex-basis: 4rem;
  padding: 0;
  text-align: center;
}

main h2 {
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

main h3 {
  margin: 0;
  padding: 0;
  padding-top: 0.5rem;
}

main h4 {
  margin: 0;
  padding: 0;
}

div.details ul {
  padding: 0;
  margin: 0;
}

.summary p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

.details p {
  margin: 0;
  padding: 0;
}

h3 em {
  font-weight: normal;
  font-size: 0.9rem;
}

.details span,
.details li,
.details p {
  text-align: justify !important;
}

#navbar {
  z-index: 5;
  width: 100%;
  transition: top 0.7s;
  position: fixed;
  --bs-bg-opacity: 0.65;
  background-color: black;
  top: -74px;
}

#navbar > img {
  height: 50px;
}

#navbar #logo {
  color: #f2f2f2;
  font-size: 30px;
  padding: 10px 10px;
}

#navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.line-container {
  position: fixed;
  justify-content: center;
  display: flex;
  top: 50px;
  left: 0;
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

svg {
  width: 100vw;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}

.two {
  font-size: 3em;
  position: relative;
  overflow: hidden;
}

section .ptemp {
  position: absolute;
  z-index: -1;
  color: blueviolet;
  top: 10%;
  left: 20%;
  white-space: nowrap;
  font-size: 4rem;
}

.three {
  background: url(../assets/winter.jpg);
  background-size: cover;
  overflow: hidden;
}

.four {
  background: url(../assets/mountain.jpg);
  background-size: cover;
  overflow: hidden;
}

.one,
.two,
.three,
.four {
  height: 100vh;
  width: 100vw;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.icon {
  color: white;
  font-size: 1.5em;
  padding: 1.5rem 0.4rem 0.4rem 0.4rem;
}

.icon:hover {
  font-size: 2em;
  padding: 1rem 0.3rem 0.3rem 0.3rem;
}

footer p {
  text-align: center;
}

#page-container {
  display: flex;
  justify-content: center;
  background-color: black;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.screen-reader-focusable:active,
.screen-reader-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
}
/*# sourceMappingURL=style.css.map */