$blue: #002e58;
$blue-dark: #00315c;
$blue-light: #003d73;
$gray: #eeeeee;
$gray-dark: #cccccc;
$white: #ffffff;

$borderRadius: 6px;
$boxShadow: 0 6px 30px -10px rgba(0, 0, 0, 0.1);

$accent-color-main: #9477f5;
$accent-color-sec: #f58a78;

$primary-bg-color: #9477f5;
$second-bg-color: #825ff5;
$third-bg-color: #7047f5;

$activeColor: var(--accent-color-main);

@use "common/variable";

aside {
  flex-grow: 1;
  flex-shrink: 0.5;
  flex-basis: 250px;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

aside :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  font-weight: 300;
}

aside :is(h1, h2, h6) {
  background-color: $second-bg-color;
  padding-right: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
}

section.summary > div > h5 {
  text-align: justify;
  font-size: 1.25rem;
}

aside :is(h4, h5) {
  background-color: $second-bg-color;
  font-weight: 300;
  padding-right: 1rem;
  font-size: 1.25rem;
}

aside :is(h3) {
  font-size: 1.25rem;
  font-weight: 300;
  background-color: $third-bg-color;
}

.right {
  text-align: right;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul > li::before {
  content: "•";
}

aside ul > li {
  color: white;
  padding-right: 0.5rem;
  font-style: italic;
  font-weight: 200;
  display: inline-block;
}

aside ul#programming > li {
  display: block;
  color: white;
  padding-top: 0.5rem;
  margin-right: 0.5rem;
}

aside ul#programming > li:hover {
  transform: scaleY(1.015);
  box-shadow: 1px 1px 16px -3px $white;
  transition: all 0.3s;
}

.highlight {
  transition: all 0.3s;
}

.highlight:hover {
  transform: scaleY(1.015);
  box-shadow: 1px 1px 16px -3px $white;
}

aside ul#programming > li > dt {
  display: block;
}

aside ul#programming > li > dd {
  display: inline-flex;
  padding: 0%;
  margin: 0 0 3px 3px;
  padding-right: 10px;
  border-right: solid 1px;
}
