@import "common/variable";

.content ul {
  list-style-type: none !important;
}

#download-button {
  color: var(--primary-text-color);
  background-color: unset;
  &:hover,
  &:hover .iconfont {
    i {
      text-decoration: none;
      animation: bounce 1s ease infinite;
    }
  }
}
