@use "_variables";
$blue: #002e58;
$blue-dark: #00315c;
$blue-light: #003d73;
$gray: #eeeeee;
$gray-dark: #cccccc;
$resume-bg: $gray;
$bg: black;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #000;
  transition: all 1s;
}

#page-container {
  display: flex;
  justify-content: center;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:link, a:visited { 
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.resume {
  width: clamp(300px, 100%, 768px);
  display: flex;
  justify-content: center;
  background-color: $resume-bg;
  flex-wrap: wrap;
  transition: all 1s ease-in-out;
  transform-origin: top center;
  transform: scale(.7,0);
}
