@import "common/helper";
@import "common/variable";
.header-widget {
  background-color: var(--top-bar-bg-color);
  background: var(--top-bar-bg-color);
  a.button.is-dark {
    color: var(--primary-text-color);
    background-color: unset;
    &:hover,
    &:hover .iconfont {
      i {
        text-decoration: none;
        color: $activeColor !important;
        animation: bounce 1s ease infinite;
      }
    }
  }

  i {
    margin: 0 8px;
  }

  h3 {
    font-weight: bold;
  }

  .is-dark {
    //background: var(--top-bar-bg-color);
  }
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: unset;
  }
}

nav#navbar {
  background-color: var(--top-bar-bg-color);
  background: var(--top-bar-bg-color);
}

.scroll-down {
  transform: translateY(-100%);
}
.scroll-up {
  filter: drop-shadow(0 -10px 20px var(--primary-bg-color));
}

.navbar-item,
.navbar {
  transition: 0.7s;
  animation: navAnimOpen 0.7s ease-in-out;
}

.navbar .active {
  border-bottom: thick ridge var(--primary-text-color);
  &:hover {
    border-bottom: thick ridge var(--accent-color-main);
  }
}

@keyframes navAnimOpen {
  0% {
    opacity: 0;
    max-height: 0%;
  }
  100% {
    opacity: 1;
    max-height: 100%;
  }
}

#arrow1,
#arrow2,
#arrow3 {
  transition: all 1s ease;
}

#logo-brand {
  height: 50px;
  max-width: 100%;
  max-height: 1.75rem;
  transition: all 1s ease;

  &:hover,
  &:focus,
  &:active {
    transform: rotateZ(18deg);

    #arrow1 {
      transform: rotateZ(45deg) translate(30%, -125%);
    }
    #arrow2 {
      transform: rotateZ(45deg) translate(18.5%, -97.5%);
    }
    #arrow3 {
      transform: rotateZ(45deg) translate(7%, -70%);
    }
  }
}
