#page-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  background-color: black;
  transition: top .3s;
}

#page-container-and-footer {
  background-color: black;
  transition: top .3s;
  position: relative;
  min-height: 100vh;
}

#download {
  position: fixed;
  top: 2rem;
  right: 3rem;
}