footer.is-flex.is-flex-direction-column.is-align-items-center.is-flex-shrink-0.is-family-serif
    section.sns-container.has-text-centered
        include ../components/sns
    p.text-center.text-muted
        br
        | 2023. guidotorresmx. All rights unreserved. Created by 
        a(href='https://github.com/guidotorresmx') @guidotorresmx
        | . Source code can be found at 
        a(href='https://github.com/guidotorresmx/resume') @guidotorresmx/landing
        |  This site uses Gulp, Pug, Sass, and Bulma.

    div
    span!= theme.user && theme.user.footnotes
