svg#logo-brand(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 500 411')
  defs
    style.
      .cls-1{fill:#f58a78;}.cls-2{fill:#9477f5;}.cls-3{fill:#825ff5;}.cls-4{fill:#7047f5;}
  g#gt
    path.cls-1(d='M387.42,93,491.91,57.74a11.88,11.88,0,0,0,7.46-15.06l-6.68-19.82a11.88,11.88,0,0,0-15.06-7.46L361.88,54.45,319.54,68.73,256.35,90.05a11.75,11.75,0,0,1-10.94-1.77C204.61,56.67,152.94,44.77,104.74,61c-81.84,27.61-122.6,125.81-91,219.34S137.17,427.34,219,399.73c32.74-11,58.88-33.39,76.46-62.2,5.22-8.54,18.11-6.95,21.3,2.53h0a11.88,11.88,0,0,0,15.06,7.46l19.82-6.68a11.88,11.88,0,0,0,7.46-15.06L309.57,179a11.88,11.88,0,0,0-15.06-7.46L147.68,221a11.88,11.88,0,0,0-7.46,15.06l6.68,19.82A11.88,11.88,0,0,0,162,263.36l98.36-33.18A11.87,11.87,0,0,1,276,241c1.4,53.45-25.76,101-71.29,116.41-58.45,19.72-125-21.16-148.69-91.3s4.54-143,63-162.72c39.84-13.44,83.45,1.27,114.68,34.21a11.87,11.87,0,0,0,12.39,3.09l37.35-12.6,39.13-13.2a11.88,11.88,0,0,1,15.05,7.46l39.05,115.75L430,396.17a11.88,11.88,0,0,0,15.06,7.46l19.82-6.69a11.87,11.87,0,0,0,7.46-15.05L419,223.8,380,108A11.88,11.88,0,0,1,387.42,93Z')
  g#arrow1
    path.cls-2(d='M112.16,292.7l6.69,19.82A11.88,11.88,0,0,0,133.9,320l104.5-35.25a11.88,11.88,0,0,1,15.06,7.46l35.25,104.49a11.88,11.88,0,0,0,15.05,7.46l19.83-6.68a11.89,11.89,0,0,0,7.46-15.06L281.51,235.57a11.88,11.88,0,0,0-15.05-7.46L119.62,277.64A11.88,11.88,0,0,0,112.16,292.7Z')
  g#arrow2
    path.cls-3(d='M168.27,179.46,175,199.28a11.88,11.88,0,0,0,15,7.46l104.5-35.25A11.88,11.88,0,0,1,309.57,179l35.25,104.49a11.88,11.88,0,0,0,15.05,7.46l19.83-6.68a11.9,11.9,0,0,0,7.46-15.06L337.62,122.33a11.88,11.88,0,0,0-15.05-7.46L175.73,164.4A11.88,11.88,0,0,0,168.27,179.46Z')
  g#arrow3
    path.cls-4(d='M443.26,155.92,393.73,9.09a11.88,11.88,0,0,0-15.06-7.46L271.33,37.84,231.84,51.16a11.88,11.88,0,0,0-7.46,15.06l3.4,10.08a174.84,174.84,0,0,1,17.63,12,11.75,11.75,0,0,0,10.94,1.77L300.08,75.3l50.54-17a11.87,11.87,0,0,1,15.05,7.46L400.93,170.2A11.87,11.87,0,0,0,416,177.66L435.81,171A11.88,11.88,0,0,0,443.26,155.92Z')
