main.specific-info
    section.work-history
        h2 Work History
        div.structure
            div.dates
                span.start-date 10/2019~
                span.end-date ~10/2021 
            div.details
                h3 Full Stack Developer <em>| NDS Cognitive Labs, CDMX</em>
                ul
                    li 
                        span Collaborated on the development of all stages of artificial-intelligence driven chatbots, designed for omnichannel and custom integrations.
                    li 
                        span Created and modified multiple CI/CD pipelines in Azure, AWS and on-premise environments.
                    li 
                        span Updated and improved preexisting ML solutions, adding new stages to pipelines and improving performance by implementing parallelization and cache-based technologies.
                    li 
                        span Revised, modularized and updated old code bases to modern development standards, reducing operating costs and improving functionality.
        div.structure
            div.dates
                span.start-date 04/2015~
                span.end-date ~08/2017 
            div.details
                h3 Back-end Developer Junior <em>| Dali, CDMX</em>
                ul  
                    li
                        span Authored code fixes and enhancements for inclusion in future code releases and patches.
                    li
                        span Developed a next-generation integration platform for internal applications.
                    li
                        span Used Machine Learning/Deep Learning, other advanced algorithms and made material theories to develop business insights.

    section.education
        h2 Education
        div.structure
            div.dates
                span.start-date 08/2021~
                span.end-date ~04/2022 
            div.details
                h3 College Certificate <em>| Web Development and Design | GPA: 3.65 </em>
                h4 Humber College — Toronto, ON
        div.structure
            div.dates
                span.start-date 08/2017~
                span.end-date ~08/2019 
            div.details
                h3 Master of Science <em> | Computer Science | GPA: 3.9 </em>
                p Emphasis on evolutionary algorithms and recurrent neural networks utilized for large times-series databases forecasting and optimum efficiency frontier for portfolios of multiple financial assets.  
                h4 Instituto Politecnico Nacional — CDMX, MX                  
        div.structure
            div.dates
                span.start-date 08/2012~
                span.end-date ~04/2016 
            div.details
                h3 Bachelor of Science <em>| Mechatronics | GPA: 3.65 </em>
                h4 Universidad Politecnica de Aguascalientes — AGS, MX                  

    section.certifications
        h2 Certifications
        div.structure
            div.dates
                span.start-date 03/2021
            div.details
                h3 Certified MongoDB Developer
        div.structure
            div.dates
                span.start-date 10/2020
            div.details
                h3 AWS Cloud Practitioner <em> (currently working on DevAsc) </em>