aside.general-info
    section.title.highlight
        h2 Marco Guido
        h1.right#job Web Designer
    section.contact
        h3 Contact
        div.highlight
            h4 Address
            h5.right#address Toronto, ON, M8V 0C2
            h4 Phone
            h5.right#phone +1 (647) 906 6194
            h4 E-mail
            h5.right#email marco@guidotorres.mx
            h4 Linkedin
            h5.right#linkedin /guidotorresmx
    section.skills
        h3 Skills
        div.highlight 
            h4 Cloud Computing
            ul.right#cloud-computing 
                li 
                    span AWS
                li 
                    span Azure
                li 
                    span Heroku
                li 
                    span Firebase
                li 
                    span Linux servers
        div
            h4 Programming
            ul.right#programming 
                li 
                    span Python
                    dt 
                        dd SciPy
                        dd Tensorflow
                        dd Flask
                        dd SKLearn
                        dd NLTK
                        dd Asyncio
                        dd Itertools 
                li 
                    span C#
                    dt
                        dd BotFramework
                        dd ASP.NET
                        dd MVC
                        dd LINQ
                        dd .NET CORE
                li 
                    span JS and TS
                    dt 
                        dd React
                        dd D3
                        dd jQuery
                        dd Bootstrap
                        dd Express
                        dd Node
                        dd Next  
                li 
                    span Extras
                    dt 
                        dd HTML
                        dd CSS
                        dd Sass
                        dd VanillaPHP
                        dd Github
                        dd Postman
                        dd Insomnia
                        dd Nginx
                        dd Bash 
                        dd Matlab
                        dd Linux
                        dd VHDL
        div.highlight
            h4 Database Systems
            ul.right#database-systems 
                li 
                    span PostgreSQL
                li 
                    span Redis
                li
                    span MongoDB
                li
                    span DynamoDB
        div.highlight
            h4 Orchestration
            ul.right#orchestration 
                li 
                    span Kubernetes
                li
                    span CloudFormation
                li
                    span Docker
                li
                    span Airflow
        div.highlight 
            h4 Machine Learning
            ul.right#machine-learning
                li 
                    span Forecasting
                li
                    span Image Processing
                li
                    span Evolutionary Algorithms


    Section.soft-skills
        h3 Soft Skills
        ul.right.highlight#soft-skills
            li 
                span Problem Solver
            li
                span Critical Thinker
            li
                span Creative
            li
                span Resourceful
    section.interests
        h3 Interests
        ul.right.highlight#interests
            li
                span Machine Learning
            li
                span Microservices
            li
                span Cloud Computing
                

