aside.general-info
    section.title.highlight
        h1 Marco Guido - <em> Full-Stack Developer </em>
    section.contact.highlight
        h3 Contact
        div.highlight
            h4 Address
            h5.right#address Toronto, ON
            h4 Phone
            h5.right#phone 
                a(href='tel:647-906-6194') (647) 906-6194
            h4 E-mail
            h5.right#email 
                a(href="mailto:marco@guidotorres.mx") marco@guidotorres.mx
            h4 Linkedin
            h5.right#linkedin 
                a(href="https://www.linkedin.com/in/guidotorresmx/") /guidotorresmx
            h4 Website & Blog
            h5.right#website 
                a(href="https://www.guidotorres.mx/") | guidotorres.mx
            h5.right#blog 
                a(href="https://www.guidotorres.mx/blog") | guidotorres.mx/blog
    section.summary.highlight
        h3 Summary
        div
            h5.highlight Enthusiastic developer with strong understanding of Machine Learning and Backend Development. Highly skilled in Python and C++, intermediate in C# and JavaScript. Currently looking for a full-time opportunity as a full-stack developer to elevate technical skills.
    section.skills.highlight
        h3 Skills
        div 
            h4 Cloud Computing
            ul.right#cloud-computing 
                li 
                    span AWS
                li 
                    span Azure
                li 
                    span Heroku
                li 
                    span Firebase
                li 
                    span Linux servers
        div
            h4 Programming
            ul.right#programming 
                li 
                    span Python
                    dt 
                        dd SciPy
                        dd Tensorflow
                        dd Flask
                        dd SKLearn
                        dd NLTK
                        dd Asyncio
                        dd Numpy
                        dd Pandas 
                li 
                    span C#
                    dt
                        dd BotFramework
                        dd ASP.NET
                        dd MVC
                        dd LINQ
                        dd .NET CORE
                li 
                    span JS and TS
                    dt 
                        dd React
                        dd Next
                        dd Node
                        dd Express
                        dd Ajax
                        dd Jest 
                        dd Cypress 
                        dd Gulp
                        dd Parcel
                li 
                    span Extras
                    dt 
                        dd c++11
                        dd VHDL
                        dd Git
                        dd Matlab
                        dd Bash
                        dd Postman
                        dd Insomnia
                        dd LabVIEW
                        dd RabbitMQ
                        dd Microservices 
                        dd Rest APIs 
                        dd SOAP
        div.highlight
            h4 Database Systems
            ul.right#database-systems 
                li 
                    span PostgreSQL
                li 
                    span Redis
                li
                    span MongoDB
                li
                    span DynamoDB
                li 
                    span CosmosDB
        div.highlight
            h4 Orchestration
            ul.right#orchestration 
                li 
                    span Kubernetes
                li
                    span Helm
                li
                    span Docker
                li
                    span Airflow
        div.highlight 
            h4 Machine Learning
            ul.right#machine-learning
                li 
                    span Forecasting
                li
                    span Image Processing
                li
                    span Evolutionary Algorithms


    Section.soft-skills.highlight
        h3 Important Skills
        ul.right.highlight#soft-skills
            li 
                span Problem Solver
            li
                span Critical Thinker
            li
                span Creative
            li
                span Resourceful
    section.interests.highlight
        h3 Interests
        ul.right.highlight#interests
            li
                span Machine Learning
            li
                span Microservices
            li
                span Cloud Computing
                

