footer#footer.footer.is-flex.is-flex-direction-column.is-align-items-center.is-flex-shrink-0.is-family-serif
  .d-flex.flex-column.bd-highlight.pt-2.mt-2.justify-content-evenly.min-100
    .container
      ul.nav.justify-content-center.border-bottom.pb-3.mb-0
        a(title='twitter' href='//twitter.com/guidotorresmx')
          i.fa.fa-brands.fa-twitter.icon
        // Github
        a(title='github' href='//github.com/guidotorresmx')
          i.fa.fa-brands.fa-github.icon
        // Ins
        a(title='instagram' href='//www.instagram.com/guidotorresmx')
          i.fa.fa-brands.fa-instagram.icon
        // Linkedin
        a(title='linkedin' href='//www.linkedin.com/in/guidotorresmx')
          i.fa.fa-brands.fa-linkedin.icon
        // Facebook
        a(title='facebook' href='//www.facebook.com/guidotorresmx')
          i.fa.fa-brands.fa-facebook.icon
        // Mail
        a(title='mail' href='mailto:marco@guidotorres.mx')
          i.fa.fa-solid.fa-envelope-open.icon
        // Whatsapp
        a(title='whatsapp' href='//wa.me/16479066194')
          i.fa.fa-brands.fa-whatsapp.icon
        // Telegram
        a(title='telegram' href='//t.me/guidotorresmx')
          i.fa.fa-brands.fa-telegram.icon
      p.text-center.text-muted
          br
          | 2022. guidotorresmx. All rights unreserved. Created by 
          a(href='https://github.com/guidotorresmx') @guidotorresmx
          | . Source code can be found at 
          a(href='https://github.com/guidotorresmx/resume') @guidotorresmx/resume
          |  This website uses Pug, Sass and Gulp.
