doctype html
html(lang="en" class="apperence-dark")
    include header.pug
    body        
        include nav.pug

        div#page-container-and-footer
            div#page-container
                article.resume
                    include aside.pug
                    include main.pug
            include footer.pug
                    

