
nav#navbar.navbar.navbar-expand-lg.navbar-dark.container-fluid()
  img.img-fluid.rounded.float-start(src='./assets/logo-rounded.svg' alt='logo' onerror="this.onerror=null;this.src='./assets/img/logo-rounded.svg';")
  a.navbar-brand(href='../') guidotorresmx
  button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.me-auto.mb-2.mb-lg-0
      li.nav-item
        a.nav-link(href='../blog/') Blog
      li.nav-item
        a.nav-link(href='../blog/about/') About
      li.nav-item
        a.nav-link(href='../resume') Resume
      li.nav-item
        a.nav-link(href='../react-recipes/') Recipes demo
    form.d-flex
      input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success(type='submit')
        | Search
