@charset "UTF-8";
.debug {
  border: 1px solid red;
}

.is-family-serif {
  font-family: serif;
}

.is-full-width {
  width: 100%;
}

.is-full-height {
  height: 100%;
}

.js-img-fadeIn {
  opacity: 0;
  will-change: opacity;
}

.skeleton {
  position: relative;
  overflow: hidden;
}
.skeleton::before {
  will-change: transform;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 100;
  animation: skeleton-ani 1s ease infinite;
  background: linear-gradient(120deg, hsla(0deg, 0%, 100%, 0) 30%, hsla(0, 0%, 100%, var(--skeleton-flash-color)) 50%, hsla(0deg, 0%, 100%, 0) 70%);
}
.skeleton::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: var(--skeleton-bg-color);
}
@keyframes skeleton-ani {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20%);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7%);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
:root.appearance-light {
  --primary-bg-color: #fff;
  --second-bg-color: #fff;
  --third-bg-color: #f5f5f5;
  --primary-text-color: #4a4a4a;
  --second-text-color: #4a4a4a;
  --top-bar-bg-color: rgba(255, 255, 255, 0.8);
  --border-line-color-2: rgba(0, 0, 0, 0.03);
  --border-line-color: rgba(0, 0, 0, 0.05);
  --blockquote-border-color: #dbdbdb;
  --table-border-color: #dbdbdb;
  --pre-code-bg-color: #f5f5f573;
  --skeleton-bg-color: #f5f5f5;
  --skeleton-flash-color: 0.5;
  --avatar-border-color: #fff;
}

:root.appearance-dark {
  --primary-bg-color: #181818;
  --second-bg-color: #212121;
  --third-bg-color: #ffffff14;
  --primary-text-color: #fff;
  --second-text-color: #aaa;
  --border-line-color: rgba(255, 255, 255, 0.05);
  --border-line-color-2: rgba(255, 255, 255, 0.02);
  --top-bar-bg-color: rgba(24, 24, 24, 0.8);
  --blockquote-border-color: #aaa;
  --table-border-color: #aaa;
  --pre-code-bg-color: #ffffff03;
  --skeleton-bg-color: #2b2b2b;
  --skeleton-flash-color: 0.05;
  --accent-color-main: #f58a78;
  --accent-color-sec: #9477f5;
  --avatar-border-color: rgba(255, 255, 255, 0.05);
}

:root.appearance-auto {
  --primary-bg-color: #fff;
  --second-bg-color: #fff;
  --third-bg-color: #f5f5f5;
  --primary-text-color: #4a4a4a;
  --second-text-color: #4a4a4a;
  --top-bar-bg-color: rgba(255, 255, 255, 0.8);
  --border-line-color-2: rgba(0, 0, 0, 0.03);
  --border-line-color: rgba(0, 0, 0, 0.05);
  --blockquote-border-color: #dbdbdb;
  --table-border-color: #dbdbdb;
  --pre-code-bg-color: #f5f5f573;
  --skeleton-bg-color: #f5f5f5;
  --skeleton-flash-color: 0.5;
  --avatar-border-color: #fff;
}
@media (prefers-color-scheme: dark) {
  :root.appearance-auto {
    --primary-bg-color: #181818;
    --second-bg-color: #212121;
    --third-bg-color: #ffffff14;
    --primary-text-color: #fff;
    --second-text-color: #aaa;
    --border-line-color: rgba(255, 255, 255, 0.05);
    --border-line-color-2: rgba(255, 255, 255, 0.02);
    --top-bar-bg-color: rgba(24, 24, 24, 0.8);
    --blockquote-border-color: #aaa;
    --table-border-color: #aaa;
    --pre-code-bg-color: #ffffff03;
    --skeleton-bg-color: #2b2b2b;
    --skeleton-flash-color: 0.05;
    --accent-color-main: #f58a78;
    --accent-color-sec: #9477f5;
    --avatar-border-color: rgba(255, 255, 255, 0.05);
  }
}

:root {
  --backdropFilter: 20px;
  --borderRadius: 6px;
  --activeColor: #3273dc;
  --boxShadow: 0 6px 30px -10px rgba(0, 0, 0, .1);
}
:root.appearance-dark, :root.appearance-auto, :root.appearance-light {
  background: var(--primary-bg-color);
}
:root.appearance-dark h1, :root.appearance-dark h2, :root.appearance-dark h3, :root.appearance-dark h4, :root.appearance-dark h5, :root.appearance-dark h6, :root.appearance-auto h1, :root.appearance-auto h2, :root.appearance-auto h3, :root.appearance-auto h4, :root.appearance-auto h5, :root.appearance-auto h6, :root.appearance-light h1, :root.appearance-light h2, :root.appearance-light h3, :root.appearance-light h4, :root.appearance-light h5, :root.appearance-light h6 {
  color: var(--primary-text-color) !important;
}
:root.appearance-dark hr, :root.appearance-auto hr, :root.appearance-light hr {
  background: var(--third-bg-color);
}
:root.appearance-dark p, :root.appearance-dark strong, :root.appearance-dark dl, :root.appearance-dark ul, :root.appearance-dark ol, :root.appearance-dark cite, :root.appearance-auto p, :root.appearance-auto strong, :root.appearance-auto dl, :root.appearance-auto ul, :root.appearance-auto ol, :root.appearance-auto cite, :root.appearance-light p, :root.appearance-light strong, :root.appearance-light dl, :root.appearance-light ul, :root.appearance-light ol, :root.appearance-light cite {
  color: var(--second-text-color);
}
:root.appearance-dark .post-container span, :root.appearance-dark .about-page span, :root.appearance-auto .post-container span, :root.appearance-auto .about-page span, :root.appearance-light .post-container span, :root.appearance-light .about-page span {
  color: var(--second-text-color);
}
:root.appearance-dark .content blockquote, :root.appearance-auto .content blockquote, :root.appearance-light .content blockquote {
  background: var(--third-bg-color);
  border-color: var(--blockquote-border-color);
}
:root.appearance-dark .content table th, :root.appearance-dark .content table tr, :root.appearance-dark .content table td, :root.appearance-auto .content table th, :root.appearance-auto .content table tr, :root.appearance-auto .content table td, :root.appearance-light .content table th, :root.appearance-light .content table tr, :root.appearance-light .content table td {
  border-color: var(--table-border-color);
  color: var(--second-text-color) !important;
}

.debug {
  border: 1px solid red;
}

.is-family-serif {
  font-family: serif;
}

.is-full-width {
  width: 100%;
}

.is-full-height {
  height: 100%;
}

.js-img-fadeIn {
  opacity: 0;
  will-change: opacity;
}

.skeleton {
  position: relative;
  overflow: hidden;
}
.skeleton::before {
  will-change: transform;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 100;
  animation: skeleton-ani 1s ease infinite;
  background: linear-gradient(120deg, hsla(0deg, 0%, 100%, 0) 30%, hsla(0, 0%, 100%, var(--skeleton-flash-color)) 50%, hsla(0deg, 0%, 100%, 0) 70%);
}
.skeleton::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: var(--skeleton-bg-color);
}
@keyframes skeleton-ani {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20%);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7%);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.header-widget {
  background-color: var(--top-bar-bg-color);
  background: var(--top-bar-bg-color);
}
.header-widget a.button.is-dark {
  color: var(--primary-text-color);
  background-color: unset;
}
.header-widget a.button.is-dark:hover i, .header-widget a.button.is-dark:hover .iconfont i {
  text-decoration: none;
  color: var(--accent-color-main) !important;
  animation: bounce 1s ease infinite;
}
.header-widget i {
  margin: 0 8px;
}
.header-widget h3 {
  font-weight: bold;
}
.header-widget .is-dark {
  background: var(--top-bar-bg-color);
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: unset;
  }
}
nav#navbar {
  background-color: var(--top-bar-bg-color);
  background: var(--top-bar-bg-color);
}

.scroll-down {
  transform: translateY(-100%);
}

.scroll-up {
  filter: drop-shadow(0 -10px 20px var(--primary-bg-color));
}

.navbar-item,
.navbar {
  transition: 0.7s;
  animation: navAnimOpen 0.7s ease-in-out;
}

.navbar .active {
  border-bottom: thick ridge var(--primary-text-color);
}
.navbar .active:hover {
  border-bottom: thick ridge var(--accent-color-main);
}

@keyframes navAnimOpen {
  0% {
    opacity: 0;
    max-height: 0%;
  }
  100% {
    opacity: 1;
    max-height: 100%;
  }
}
#arrow1,
#arrow2,
#arrow3 {
  transition: all 1s ease;
}

#logo-brand {
  height: 50px;
  max-width: 100%;
  max-height: 1.75rem;
  transition: all 1s ease;
}
#logo-brand:hover, #logo-brand:focus, #logo-brand:active {
  transform: rotateZ(18deg);
}
#logo-brand:hover #arrow1, #logo-brand:focus #arrow1, #logo-brand:active #arrow1 {
  transform: rotateZ(45deg) translate(30%, -125%);
}
#logo-brand:hover #arrow2, #logo-brand:focus #arrow2, #logo-brand:active #arrow2 {
  transform: rotateZ(45deg) translate(18.5%, -97.5%);
}
#logo-brand:hover #arrow3, #logo-brand:focus #arrow3, #logo-brand:active #arrow3 {
  transform: rotateZ(45deg) translate(7%, -70%);
}

footer p {
  text-align: center;
}

#footer {
  background-color: black;
}

.debug {
  border: 1px solid red;
}

.is-family-serif {
  font-family: serif;
}

.is-full-width {
  width: 100%;
}

.is-full-height {
  height: 100%;
}

.js-img-fadeIn {
  opacity: 0;
  will-change: opacity;
}

.skeleton {
  position: relative;
  overflow: hidden;
}

.skeleton::before {
  will-change: transform;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 100;
  animation: skeleton-ani 1s ease infinite;
  background: linear-gradient(120deg, hsla(0deg, 0%, 100%, 0) 30%, hsla(0, 0%, 100%, var(--skeleton-flash-color)) 50%, hsla(0deg, 0%, 100%, 0) 70%);
}

.skeleton::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: var(--skeleton-bg-color);
}

@keyframes skeleton-ani {
  0% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20%);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7%);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.post-container .post-item-card {
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 6px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: var(--second-bg-color);
  border: 1px solid var(--border-line-color-2);
}

.post-container .post-item-card > header {
  overflow: hidden;
  z-index: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.post-container .post-item-card > header .post-cover-backdrop {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.post-container .post-item-card > header .post-cover-backdrop img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  transform: scale(1.2);
  filter: blur(20px);
}

.post-container .post-item-card > header .post-cover-link {
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 0;
}

.post-container .post-item-card > header .post-cover-img {
  max-height: 360px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: transform 500ms;
}

.post-container .post-item-card > header:hover .post-cover-img {
  transform: scale(1.04);
}

.post-container .post-item-card .post-card-content {
  word-break: break-word;
}

.post-container .post-item-card .post-card-content time {
  font-size: 14px;
}

.post-container .aside-card-container {
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 0 6px 30px -10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: var(--second-bg-color);
  border: 1px solid var(--border-line-color-2);
}

.post-container .categories-widget h3,
.post-container .archives-widget h3,
.post-container .recent-widget h3,
.post-container .tag-widget h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.post-container .categories-widget .category-list .category-list-item,
.post-container .categories-widget .archive-list .archive-list-item,
.post-container .archives-widget .category-list .category-list-item,
.post-container .archives-widget .archive-list .archive-list-item,
.post-container .recent-widget .category-list .category-list-item,
.post-container .recent-widget .archive-list .archive-list-item,
.post-container .tag-widget .category-list .category-list-item,
.post-container .tag-widget .archive-list .archive-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  color: var(--second-text-color);
}

.post-container .categories-widget .category-list .category-list-item .category-list-count,
.post-container .categories-widget .category-list .category-list-item .archive-list-count,
.post-container .categories-widget .archive-list .archive-list-item .category-list-count,
.post-container .categories-widget .archive-list .archive-list-item .archive-list-count,
.post-container .archives-widget .category-list .category-list-item .category-list-count,
.post-container .archives-widget .category-list .category-list-item .archive-list-count,
.post-container .archives-widget .archive-list .archive-list-item .category-list-count,
.post-container .archives-widget .archive-list .archive-list-item .archive-list-count,
.post-container .recent-widget .category-list .category-list-item .category-list-count,
.post-container .recent-widget .category-list .category-list-item .archive-list-count,
.post-container .recent-widget .archive-list .archive-list-item .category-list-count,
.post-container .recent-widget .archive-list .archive-list-item .archive-list-count,
.post-container .tag-widget .category-list .category-list-item .category-list-count,
.post-container .tag-widget .category-list .category-list-item .archive-list-count,
.post-container .tag-widget .archive-list .archive-list-item .category-list-count,
.post-container .tag-widget .archive-list .archive-list-item .archive-list-count {
  padding: 0 12px;
  border-radius: 11px;
  background: var(--third-bg-color);
}

.post-container .profile-widget {
  min-height: 300px;
  padding-bottom: 0;
}

.post-container .profile-widget img {
  object-fit: cover;
}

.post-container .profile-widget .avatar {
  position: relative;
  width: 180px;
  height: 180px;
  margin-top: 10px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border: 7px solid var(--avatar-border-color);
}

.post-container .profile-widget .avatar-placeholder:after {
  content: "\e62a";
  font-size: 80px;
  font-family: iconfont;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.post-container .profile-widget .user-name {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 2px;
}

.post-container .profile-widget blockquote:before {
  content: "“";
  margin-right: 5px;
  vertical-align: middle;
}

.post-container .profile-widget blockquote:after {
  content: "”";
  margin-left: 5px;
  vertical-align: bottom;
}

.post-container .profile-widget blockquote:before,
.post-container .profile-widget blockquote:after {
  line-height: 0;
  font-size: 32px;
  color: #585858;
  font-family: sans-serif;
}

.post-container .profile-widget address {
  margin-top: 14px;
  font-style: normal;
}

.post-container .profile-widget .sns-container {
  overflow: auto;
  padding: 5px 0;
  margin-top: 15px;
  border-top: 1px solid var(--border-line-color);
  flex-wrap: wrap;
}

.post-container .profile-widget .sns-container a.button.is-dark {
  background-color: var(--second-bg-color);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  border: inherit;
}

.post-container .profile-widget .sns-container a.button.is-dark:hover i,
.post-container .profile-widget .sns-container a.button.is-dark:hover .iconfont i {
  text-decoration: none;
  color: var(--accent-color-main) !important;
  animation: bounce 1s ease infinite;
}

.post-container .profile-widget .sns-container i {
  margin: 0 8px;
  font-size: 1.25rem;
  color: #fff;
}

.post-container .recent-widget ul li {
  margin-bottom: 15px;
}

.post-container .recent-widget ul li:last-child section {
  border-bottom: none;
}

.post-container .recent-widget img,
.post-container .recent-widget .post-img-placeholder {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  object-fit: cover;
  border-radius: 6px;
}

.post-container .recent-widget section {
  border-bottom: 1px solid var(--border-line-color);
}

.post-container .recent-widget section h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.post-container .recent-widget section time {
  font-size: 12px;
}

.post-container .archives-widget > section {
  overflow: auto;
  max-height: 45vh;
}

.post-container .archives-widget.is-in-archive-page > section {
  max-height: 80vh;
}

.post-container .tag-widget > section {
  overflow: auto;
  max-height: 30vh;
}

.post-container .tag-widget.is-in-tag-page > section {
  max-height: 80vh;
}

.post-container .category-page > section {
  overflow: auto;
  max-height: 40vh;
}

.post-container .category-page.categories-widget > section {
  max-height: 80vh;
}

.post-container .paginator .page-number,
.post-container .paginator .extend {
  padding: 2px 15px;
  margin: 0 5px 10px;
  border-radius: 6px;
  color: var(--second-text-color);
  background: var(--third-bg-color);
}

.post-container .paginator .page-number.current,
.post-container .paginator .extend.current {
  color: #fff !important;
  background: var(--accent-color-main);
}

.content ul {
  list-style-type: none !important;
}

#download-button {
  color: var(--primary-text-color);
  background-color: unset;
}
#download-button:hover i, #download-button:hover .iconfont i {
  text-decoration: none;
  animation: bounce 1s ease infinite;
}

:root {
  background: var(--primary-bg-color);
}
:root body {
  margin: 0;
  height: 100vh;
  padding-top: 45px;
}
:root body a {
  color: inherit;
}
:root body a:hover, :root body a:hover .iconfont {
  text-decoration: none;
  color: var(--accent-color-main) !important;
}
:root body .tag.post-item-tag {
  font-weight: bold;
  color: #9477f5;
  font-style: normal;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #9477f5;
}
:root body .button.is-default {
  height: 40px;
  border: none;
  border-radius: 6px;
  color: var(--second-text-color);
  background: var(--third-bg-color);
}
:root body > main {
  flex-grow: 2;
  flex-basis: 0;
}
:root body > footer {
  margin: 0 30px;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
:root body > footer .sns-container .iconfont {
  margin: 0 5px;
  font-size: 30px;
  background-color: #eee;
  border-radius: 50%;
}
:root body > footer .sns-container .fa {
  margin: 0 5px;
  font-size: 1.25rem;
  border-radius: 50%;
}
:root body > footer section.sns-container a.button.is-dark {
  background-color: var(--primary-bg-color);
}
:root body > footer section.sns-container a.button.is-dark:hover i, :root body > footer section.sns-container a.button.is-dark:hover .iconfont i {
  text-decoration: none;
  color: var(--accent-color-main) !important;
  animation: bounce 1s ease infinite;
}
/*# sourceMappingURL=base.css.map */